body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 50px;
}

/*Centering navbar content*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

/*Navbar logo */
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.navbar-collapse {
    box-shadow: none;
    -webkit-box-shadow: none;
    min-height: 100vh; /*covers all the screen when menu button clicked*/
}

.navbar {
    font-weight: 400;
}

/*make each columns have the same height in a row*/
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}


/*==============================
  ==============================
     styles (custom classes)
  ==============================
  ==============================*/
.padding-topbottom {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}

.link-normalized a {
    color: black;
}

.background-style1 {
    background-color: #fff;
}

.background-style2 {
    background-color: #fafafa;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.background-style3 {
    background-color: #f4f4f4;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.background-style4 {
    background-color: #303030;
    color: white;
}

.shadow-top {
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.text-muted {
    color: #888;
}

.download-p {
    color: #5bc0de;
}

.top-p {
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 300;
}

.header-h1 {
    font-size: 2em !important;
}

.header-h2 {
    font-size: 1.75em !important;
}

.header-p {
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 300;
    margin-bottom: 5%;
}

.style-form {
    background-color: #282828;;
    border: none;
    color: #bbb;
}

.send-message-button {
    width: 100%;
    max-width: 400px;
    min-height: 60px;
    font-weight: 700;
    font-size: 1.25em;
}

/*==============================
    align to center vertically
  ==============================*/
.vertical-center{
    display: flex;
    align-items: center;
}

.no-border {
    border: none;
}

/*Social media icons*/
/*change the appearance of icons*/
.icon-white-style::before {
    background-color: #ffffff;
    border-radius: 100%;
    color: #242943;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    width: 1.5em;
}

.display-inline {
    display: inline;
    margin-left: 1em;
}

.display-block {
    display: block;
    margin-top: 1.5em;
    margin-left: 3.3em;
}

.split {
    min-height: 30vh;
    border-top: solid 1px rgba(212, 212, 255, 0.1);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.border-bottom {
    border-bottom: solid 1px rgba(212, 212, 255, 0.1);
}

@media only screen and (min-width: 768px) {
    .navbar-collapse {
        min-height: 1vh;
    }

    .border-bottom {
        border: none;
    }

}