body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 50px;
}

/*Centering navbar content*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

/*Navbar logo */
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.navbar-collapse {
    box-shadow: none;
    -webkit-box-shadow: none;
    min-height: 100vh; /*covers all the screen when menu button clicked*/
}

/*make each columns have the same height in a row*/
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}


/*==============================
  ==============================
     styles (custom classes)
  ==============================
  ==============================*/
.padding-topbottom {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}

.link-normalized a {
    color: black;
}

.background-style1 {
    background-color: #fff;
}

.background-style2 {
    background-color: #fafafa;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.text-muted {
    color: #888;
}

.top-p {
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 300;
}

.header-h1 {
    font-size: 2em !important;
}



/*==============================
    align to center vertically
  ==============================*/
.vertical-center{
    display: flex;
    align-items: center;
}


@media only screen and (min-width: 768px) {
    .navbar-collapse {
        min-height: 1vh;
    }
}